*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c9242b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #f2e1bf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

    
}
li{
    padding: 1.5em;
    font-size: 1.2rem;
}
.image{
    height: 6em;
    width: auto;
}

a{
    color: black;
    text-decoration: none;
    
}

a:hover{
    color: #c9242b;
}

.about-info{
    margin: 2em 14em;

}

.about-heading{
    padding: 0.5em 0;
}

.about-text{
    padding: 0.5em 0;
}

.about-image{
    width: 45em;
    padding: 2em 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em 0;
   
}